@import "bootstrap";
@import "./_variables.scss";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./_loaders.scss";

body {
  overscroll-behavior: none;
  background: url('assets/img/source.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  animation: breath 30s linear infinite alternate;
}

@keyframes breath {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 120%;
  }
}

input.form-control,
textarea.form-control {
  background-color: $dark;
  color: $light;

  &:focus {
    background-color: $dark;
    color: $white;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}